@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ####################################################################### */
/* ############################ THEME CSS ################################# */
/* ####################################################################### */

/* ############################ ROOT CSS ################################# */
:root {
    --lightBG: #f7f7f7;
    --whiteBG: #fff;

    --lightErrorBG: #f8d7da;

    --buttonBG: #333;
    --buttonHoverBG: #444;
    --buttonBG2: #fff;
    --buttonHoverBG2: #f1f1f1;
    --buttonBG3: #f7f7f7;
    --buttonHoverBG3: #ececec;
    --buttonBG4: #e4e4e4;
    --buttonBG5: #a5dc86;

    --colorWhite: #fff;
    --colorGray: #ddd;
    --colorGray2: #ddd;
    --colorDark: #333;
    --colorBlack: #000;
    --color4: #888;

    --borderGray: #ccc;
    --borderLight: #e6e6e6;
}
/* ############################ THEME LIGHT CSS ################################# */
html[data-theme='light'] {
    --lightBG: #f7f7f7;
    --whiteBG: #fff;

    --lightErrorBG: #f8d7da;

    --buttonBG: #333;
    --buttonHoverBG: #444;
    --buttonBG2: #fff;
    --buttonHoverBG2: #f1f1f1;
    --buttonBG3: #f7f7f7;
    --buttonHoverBG3: #ececec;
    --buttonBG4: #e4e4e4;
    --buttonBG5: #a5dc86;

    --colorWhite: #fff;
    --colorGray: #ddd;
    --colorGray2: #ddd;
    --colorDark: #333;
    --colorBlack: #000;
    --color4: #888;

    --borderGray: #ccc;
    --borderLight: #e6e6e6;
}
/* ############################ THEME DARK CSS ################################# */
html[data-theme='dark'] {
    --lightBG: #1e1e1e;
    --whiteBG: #111;

    --lightErrorBG: #f8d7da;

    --buttonBG: #9f9f9f;
    --buttonHoverBG: #8a8a8a;
    --buttonBG2: #111;
    --buttonHoverBG2: #1a1a1a;
    --buttonBG3: #171717;
    --buttonHoverBG3: #1c1c1c;
    --buttonBG4: #343434;
    --buttonBG5: #a5dc86;

    --colorWhite: #000;
    --colorGray: #ddd;
    --colorGray2: #444;
    --colorDark: #ccc;
    --colorBlack: #ccc;
    --color4: #888;

    --borderGray: #555;
    --borderLight: #333;
}
/* ############################ THEME GRADIENT CSS ################################# */
.theme-gradient{
    --buttonBG: linear-gradient(239deg, rgba(0,32,36,1) 0%, rgba(181,0,156,1) 0%, rgba(111,5,143,1) 15%, rgba(49,14,119,1) 44%, rgba(37,54,148,1) 67%, rgba(0,155,255,1) 100%);
    --buttonHoverBG: linear-gradient(74deg, rgba(0,32,36,1) 0%, rgba(181,0,156,1) 0%, rgba(111,5,143,1) 15%, rgba(49,14,119,1) 44%, rgba(37,54,148,1) 67%, rgba(0,155,255,1) 100%);
    --buttonBG5: var(--buttonBG);

    --colorWhite: #fff;
}

/* ####################################################################### */
/* ############################ OVERWRITING CSS ################################# */
/* ####################################################################### */

/* ############################ OVERWRITE 000WEBHOST ################################# */
.disclaimer{
    display: none;
}


/* ####################################################################### */
/* ############################ DEFAULT CSS ################################# */
/* ####################################################################### */
html{
    font-size: 10px;
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body{
    font-size: 1.6rem;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

/* ####################################################################### */
/* ############################ COMMON CSS ################################# */
/* ####################################################################### */
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 6rem);
    width: 100%;
    background: var(--lightBG);
    color: var(--colorBlack);
}
.wrapper{
    background: var(--whiteBG);
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    border-radius: 1rem;
    box-shadow: 0 0 12.8rem 0 rgba(0, 0, 0, 0.1), 
                0 3.2rem 6.4rem -4.8rem rgba(0, 0, 0, 0.5);
    margin: 1rem;
    overflow: auto;
}

/* ############################ TEXT CSS ################################# */
header .appTitle{
    text-transform: uppercase;
}
label,
.name-details,
.name-details input,
.button input,
.form .link a,
.form .link::first-letter,
.users header .content .details,
.users header a,
.users .search input,
.users .users-list .details,
.chat-area header .details,
.chat-box .blank-chat .blank-chat-alert,
.profile header .content .details,
.profile .settings .settings-item,
.call-area .call-info .call-receiver-info,
.chat-area footer .emoji-container .emoji-header .emoji-header-item,
.call-area .call-cut .call-cut-icon{
    text-transform: capitalize;
}
.login-details input[type="email"]{
    text-transform: lowercase;
}

.wrapper::-webkit-scrollbar,
.chat-box::-webkit-scrollbar,
.users-list::-webkit-scrollbar,
.chat-area .typing-area input::-webkit-scrollbar,
.chat-area .typing-area textarea::-webkit-scrollbar,
.emojionearea .emojionearea-editor::-webkit-scrollbar{
    width: 0;
}
.wrapper,
.chat-box,
.users-list{
    scrollbar-width: none;
}
.wrapper img{
    object-fit: cover;
    max-width: 100%;
}
.details .user-name{
    letter-spacing: .03rem;
}



/* ######################################### */
/* SIGN UP FORM CSS */
/* ######################################### */

.form{
    padding: 2.5rem 3rem;
}
.form header{
    border-bottom: .1rem solid var(--borderLight);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form header .appTitle{
    font-size: 2.5rem;
    font-weight: 600;
}
.form form{
    margin: 2rem 0;
}
.form form .error-txt{
    color: #721c24;
    background: var(--lightErrorBG);
    padding: .8rem 1rem;
    text-align: center;
    border-radius: .5rem;
    margin-bottom: 1rem;
    border: .1rem solid #f5c6cb;
    display: none;
}
.form form .name-details{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
}
.form form .field{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 1rem;
    flex: 1;
}
.form form .field label{
    margin-bottom: .2rem;
}
.form form .field input{
    outline: none;
    background: var(--whiteBG);
    color: var(--colorBlack);
}
.form form .field i{
    position: absolute;
    right: 1.5rem;
    color: var(--borderGray);
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all .2s;
}
.form form .field i:hover{
    color: var(--colorDark);
}
.form form .field i.active::before{
    color: var(--colorDark);
    content: "\f070";
}
.form form .input input,
.form form .image input{
    height: 4rem;
    width: 100%;
    font-size: 1.6rem;
    padding: 0 1rem;
    border: .1rem solid var(--borderGray);
    border-radius: .5rem;
}
.form form .image input{
    font-size: 1.7rem;
    padding-top: .5rem;
}
.form form .button input{
    margin-top: 1.3rem;
    height: 4.5rem;
    border: none;
    font-size: 1.7rem;
    font-weight: 500;
    background: var(--buttonBG);
    color: var(--colorWhite);
    border-radius: .5rem;
    cursor: pointer;
}
.form form .button input:hover{
    background: var(--buttonHoverBG);
}
.form .link{
    text-align: center;
    margin: 1rem 0;
    font-size: 1.7rem;
}
.form .link a{
    color: var(--colorDark);
}
.form .link a:hover{
    text-decoration: underline;
}
.animated-gif{
    display: flex;
    justify-content: center;
    align-content:center;
    padding: 2rem 5rem;
}
.signup .animated-gif img{
    padding: 0;
    max-height: 15rem;
}

/* ######################################### */
/* USERS PAGE CSS */
/* ######################################### */

.users{
    padding: 2.5rem 3rem;
    height: 100%;
}
.users header,
.users-list a{
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
    justify-content: space-between;
    border-bottom: .1rem solid var(--borderLight);
}
:is(.users header, .users-list a) .content{
    display: flex;
    align-items: center;
}
.users header .content img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}
:is(.users header, .users-list a) .details{
    color: var(--colorBlack);
    margin-left: 1.5rem;
}
:is(.users header, .users-list a) .details span{
    font-size: 1.8rem;
    font-weight: 500;
}
.users header .logout{
    color: var(--colorWhite);
    font-size: 1.7rem;
    padding: .7rem 1.5rem;
    background: var(--buttonBG);
    border-radius: .5rem;
}
.users .search{
    margin: 2rem 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.users .search .text{
    font-size: 1.8rem;
}
.users .search input{
    position: absolute;
    height: 4.2rem;
    width: 0;
    border: .1rem solid var(--borderGray);
    padding: 0 1.3rem;
    font-size: 1.6rem;
    border-radius: .5rem 0 0 .5rem;
    outline: none;
    opacity: 0;
    pointer-events: none;
    transition: all .2s ease-in;
    background: var(--whiteBG);
    color: var(--colorBlack);
}
.users .search input.active{
    width: calc(100% - 5rem);
    opacity: 1;
    pointer-events: auto;
}
.users .search button{
    width: 4.7rem;
    height: 4.2rem;
    border: none;
    outline: none;
    color: var(--colorDark);
    background: var(--buttonBG2);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: 0 .5rem .5rem 0;
    transition: all .3s ease;
}
.users .search button:hover{
    background: var(--buttonHoverBG2);
}
.users .search button.active{
    color: var(--colorWhite);
    background: var(--buttonBG);
}
.users .search button.active i::before{
    content: "\f00d";
}

.users header .logout:hover,
.users .search button.active:hover{
    background: var(--buttonHoverBG);
}
.users-list{
    max-height: calc(100% - 15rem);
    overflow-y: auto;
}
.users-list a{
    padding: .5rem 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom-color: var(--borderLight);
    border-radius: .5rem;
    transition: all .2s;
    background: var(--buttonBG2);
}
.users-list a:last-child{
    border: none;
    margin-bottom: 0;
}
.users-list a:hover{
    background: var(--buttonHoverBG2);
}
.users-list a .content img{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}
.users-list a .content p{
    color: var(--color4);
}
.status-dot{
    align-items: center;
    display: flex;
    font-size: 1.2rem;
    color: #468669;
}
.status-dot .status-text{
    margin-left: .5rem;
}
.status-dot.offline{
    color: var(--borderGray);
}
/* ######################################### */
/* CHAT AREA CSS */
/* ######################################### */
.chat-area {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.chat-area header{
    background: var(--whiteBG);
    display: flex;
    align-items: center;
    padding: 1.75rem 3rem;
    /* height: 8rem; */
    border-radius: 1rem 1rem 0 0;
    justify-content: space-between;
}
.chat-area header .header-left-area,
.chat-area header .header-right-area{
    display: flex;
    height: 4.5rem;
    align-items: center;
}
.chat-area header .back-icon{
    font-size: 1.8rem;
    color: var(--colorDark);
}
.chat-area header img{
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin: 0 1.5rem;
}
.chat-area header .header-left-area a{
    display: flex;
    color: var(--colorBlack);
}
.chat-area header .header-left-area span{
    font-size: 1.7rem;
    font-weight: 500;
}
.chat-area header .header-right-area a{
    border-radius: 10%;
    padding: 1rem;
    transition: all .2s;
    background: var(--buttonBG2);
}
.chat-area header .header-right-area a:hover{
    background: var(--buttonHoverBG2);
}
.chat-area header .header-right-area i{
    color: var(--colorDark);
    font-size: 2.2rem;
}
.chat-box{
    background: var(--lightBG);
    overflow-y: auto;
    padding: 1rem 3rem 2rem 3rem;
    height: 100%;
    box-shadow: inset 0 3.2rem 3.2rem -3.2rem rgb(0 0 0 / 5%), 
                inset 0 -3.2rem 3.2rem -3.2rem rgb(0 0 0 / 5%);
}
.chat-box .blank-chat{
    position:relative;
    top:50%;
    transform: translateY(-50%);
    text-align:center;
}
.chat-box .blank-chat img{
    max-width: 20rem;
    margin-bottom: 4rem;
    filter: invert(50%);
}
.chat-box .blank-chat .blank-chat-alert{
    font-size: 2rem;
    color: var(--colorGray2);
}
.chat-box .chat{
    margin: 2.5rem 0;
    position: relative;
}
.chat-box .chat p{
    padding: .8rem 1.6rem;
    box-shadow: 0 0 3.2rem rgb(0 0 0 / 8%),
                0 1.6rem 1.6rem -1.6rem rgb(0 0 0 / 10%);
    word-break: break-all;
}
.chat-box .chat .message-sending-time{
    position: absolute;
    top: 100%;
    font-size: .9rem;
    margin-top: .4rem;
}
.chat-box .chat.outgoing .message-sending-time{
    right: 0;
}
.chat-box .outgoing{
    display: flex;
}
.chat-box .outgoing .details{
    margin-left: auto;
    max-width: calc(100% - 13rem);
    display: flex;
    flex-direction: column;
}

.chat-box .outgoing .details p{
    background: var(--buttonBG);
    color: var(--colorWhite);
    border-radius: 1.8rem 1.8rem 0 1.8rem;
}
.chat-box .incoming,
.chat-box .incoming a{
    display: flex;
    align-items: flex-end;
}
.chat-box .incoming img{
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
}
.chat-box .incoming .details{
    margin-left: 1rem;
    margin-right: auto;
    max-width: calc(100% - 13rem);
    display: flex;
    flex-direction: column;
}
.chat-box .incoming .details p{
    background: var(--buttonBG2);
    color: var(--colorDark);
    border-radius: 1.8rem 1.8rem 1.8rem 0;
}
.chat-area footer{
    border-radius: 0 0 1rem 1rem;
    padding: 1.75rem 3rem;
    /* height: 8rem; */
}
.chat-area .typing-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat-input-container{
    display: flex;
    width: 100%;
    height: 4.5rem;
    position: relative;
}
.chat-area .typing-area textarea{
    width: 100%;
    height: 100%;
    font-size: 1.7rem;
    border: .1rem solid var(--borderGray);
    border-right: none;
    border-left: none;
    border-radius: .5rem 0 0 .5rem;
    overflow: hidden;
    padding: .7rem .5rem .7rem 5.5rem;
    outline: none;
    resize: none;
    background: var(--whiteBG);
    color: var(--colorBlack);
}
.chat-input-container .emojicon{
    position: absolute;
    background: var(--buttonBG);
    left: 0;
    height: 100%;
    width: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: .5rem 0 0 .5rem;
    font-size: 2.2rem;
    color: var(--colorWhite);
    cursor: pointer;
}
.chat-input-container .emojicon:hover{
    background: var(--buttonHoverBG);
}

.chat-area .typing-area button{
    width: 8rem;
    height: 100%;
    font-size: 1.7rem;
    border: none;
    border-radius: 0 .5rem .5rem 0;
    background: var(--buttonBG);
    color: var(--colorWhite);
    outline: none;
    cursor: pointer;
    display: block !important;
}
.chat-input-container.active textarea,
.chat-input-container.active .emojicon{
    border-radius: .5rem 0 0 0;
}
.chat-input-container.active button{
    border-radius: 0 .5rem 0 0;
}
.chat-area .typing-area button:hover{
    background: var(--buttonHoverBG);
}
.chat-area footer .emoji-container{
    height: 0;
    background: var(--lightBG);
    border-radius: 0 0 .5rem .5rem;
    margin-top: .3rem;
    overflow: hidden;
    transition: all .5s;
}
.chat-area footer .emoji-container.active{
    height: 23rem;
}
.chat-area footer .emoji-container .emoji-header{
    background: var(--buttonBG);
    color: var(--colorWhite);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    -webkit-box-shadow: 0 2rem 3.5rem -1.3rem rgba(0,0,0,0.4); 
    box-shadow: 0 2rem 3.5rem -1.3rem rgba(0,0,0,0.4);
}
.chat-area footer .emoji-container .emoji-header-item{
    padding: 1rem 1rem;
    cursor: pointer;
}
.chat-area footer .emoji-container .emoji-header-item:hover,
.chat-area footer .emoji-container .emoji-header-item.active{
    background: var(--lightBG);
    color: var(--colorBlack);
}

/* ######################################### */
/* PROFILE CSS */
/* ######################################### */
.profile{
    padding: 2.5rem 3rem;
    height: 100%;
}
.profile header{
    display: flex;
    align-items: center;
    padding: 2rem 1rem;
    margin-bottom: .5rem;
    border: .1rem solid var(--borderLight);
    border-bottom: none;
    border-radius: 2rem 2rem 0 0;
    background: var(--lightBG);
}
.profile header .back-icon{
    font-size: 1.8rem;
    color: var(--colorDark);
}
.profile header .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.profile header .content img{
    height: 8rem;
    width: 8rem;
    border-radius: 20%;
    margin-bottom: 1rem;
}
.profile header .details span{
    font-size: 2rem;
    font-weight: 500;
    color: var(--colorBlack);
}
.profile .settings{
    border-radius: 0 0 2rem 2rem;
    display: flex;
    flex-direction: column;
}
.profile .settings .settings-devider{
    display: flex;
    flex-direction: column;
}
.profile .settings .settings-item{
    color: var(--color4);
    margin: .5rem 0;
    background: var(--buttonBG3);
    padding: 1rem 2rem;
    border-left: .1rem solid var(--borderLight);
    border-right: .1rem solid var(--borderLight);
    transition: all .2s;
    letter-spacing: .05rem;
    display: flex;
    justify-content: space-between;
}
.profile .settings .settings-item:hover{
    background: var(--buttonHoverBG3);
}
.settings-item-label{
    margin: auto 0;
}
.settings-item-switch{
    display: flex;
    overflow: hidden;
    align-items: center;
}
.settings-item-switch-theme{
    font-size: 2.5rem;
    width: 3.5rem;
    height: 3.5rem;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
}
.settings-item-switch-theme i{
    display: none;
    text-align: center;
    padding: 1rem;
}
.settings-item-switch-theme i:hover{
    background-color: var(--buttonHoverBG3);
}
[data-theme="light"] .settings-item-switch-theme #dark-on,
[data-theme="dark"] .settings-item-switch-theme #dark-off{
    display: block;
}

/* .profile .settings .settings-item .settings-item-switch input{
    position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: .1rem;
	width: .1rem;
	border: 0;
	overflow: hidden;
} */
.profile .settings .settings-item .settings-item-switch label,
.profile .settings .settings-item .settings-item-switch .settings-item-logout{
    background-color: var(--buttonBG4);
	color: var(--colorBlack);
	font-size: 1.4rem;
	text-align: center;
	padding: .3rem 1rem;
	border: .1rem solid var(--borderGray);
	box-shadow: inset 0 .1rem .3rem rgba(0, 0, 0, 0.3), 0 .1rem rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
    cursor: pointer;
}
/* .profile .settings .settings-item .settings-item-switch input:checked + label{
	background: var(--buttonBG5);
	box-shadow: none;
    color: var(--colorWhite);
}
.profile .settings .settings-item .settings-item-switch label:first-of-type {
	border-radius: .5rem 0 0 .5rem;
}
.profile .settings .settings-item .settings-item-switch label:last-of-type {
	border-radius: 0 .5rem .5rem 0;
} */
.profile .settings .account-settings .settings-item:last-child{
    border-radius: 0 0 2rem 2rem;
    border-bottom: .1rem solid var(--borderLight);
}
.profile .settings .settings-item .settings-item-switch .settings-item-logout{
    margin-right: 0;
    border-radius: .5rem;
    background: var(--buttonBG);
    color: var(--colorWhite);
}
/* ######################################### */
/* PROFILE CSS */
/* ######################################### */
.call-area{
    position: relative;
    padding: 2.5rem 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.call-area .call-icon{
    padding: 2rem;
    margin-bottom: 3rem;
    border-radius: 50%;
}
.call-area .call-icon i{
    font-size: 12rem;
    color: var(--colorDark);
}
.call-area .call-info{
    color: var(--colorDark);
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
}
.call-area .call-info .call-receiver-info{
    color: var(--colorDark);
    font-size: 2.2rem;
    font-weight: 500;
}
.call-area .call-cut{
    position: absolute;
    bottom: 12%;
}
.call-area .call-cut .call-cut-icon{
    color: var(--colorWhite);
    font-size: 4rem;
    background: rgb(219, 0, 0);
    padding: 0.5rem 2rem;
    border-radius: 50%;
}
.call-area .call-cut .call-cut-icon:hover{
    background: rgb(185, 0, 0);
}